<style>
.topmenu {
        float: left;
}
.topmenu > a {
        float: left;
        position: relative;
        display: block;
        color: #fff;
        font-weight: bold;
        padding: 15px 22px;
        text-decoration: none;
}
.topmenu > a:hover {
        background-color: #00a379;
}

/* themable-select */
.form-group .themable-select {
	border-radius: 4px;
}
fieldset .form-group .themable-select .btn-default,
fieldset .form-group .themable-select .btn-default:active,
fieldset .form-group .themable-select .btn-default:hover,
fieldset .form-group .themable-select .btn-default:focus,
fieldset .form-group .themable-select .btn-default:visited,
fieldset .form-group .themable-select.open .btn-default,
fieldset .form-group .themable-select.open .btn-default:active,
fieldset .form-group .themable-select.open .btn-default:hover,
fieldset .form-group .themable-select.open .btn-default:focus,
fieldset .form-group .themable-select.open .btn-default:visited
{
	color: black;
	padding: 10px 15px;
}
.form-group .themable-select .dropdown-menu li > a,
.form-group .themable-select.open .dropdown-menu li > a {
	color: #ddd;
}






.quota-dynamic div svg {
	height: 100%;
}

.navbar-inverse {
	background-image: linear-gradient(#00a896, #00897b 60%, #007569);
}
</style>
