<style>
.form-group .themable-select {
	border-radius: 4px;
}
fieldset .form-group .themable-select .btn-default,
fieldset .form-group .themable-select .btn-default:active,
fieldset .form-group .themable-select .btn-default:hover,
fieldset .form-group .themable-select .btn-default:focus,
fieldset .form-group .themable-select .btn-default:visited,
fieldset .form-group .themable-select.open .btn-default,
fieldset .form-group .themable-select.open .btn-default:active,
fieldset .form-group .themable-select.open .btn-default:hover,
fieldset .form-group .themable-select.open .btn-default:focus,
fieldset .form-group .themable-select.open .btn-default:visited
{
	color: black;
	padding: 10px 15px;
}
</style>
